<footer class="container footer">
  <div class="footer-posishon">
    <div class="footer-text">
      <p class="subtitle footer-subtitle">homemade ice cream made</p>
      <h3 class="title footer-title">with passion</h3>
    </div>
    <div class="footer-socials">
      <ul class="footer-socials-list list">
        <li class="socials-item">
          <a
            class="socials-link link"
            href="https://github.com/"
            target="_blank"
          ></a>
          <svg class="socials-icon" width="32" height="32">
            <use
              href="./images/icons/symbol-defs.svg#icon-github"
              target="_blank"
            ></use>
          </svg>
        </li>
        <li class="socials-item">
          <a
            class="socials-link link"
            href="https://web.telegram.org/#/login"
            target="_blank"
          ></a>
          <svg class="socials-icon" width="32" height="32">
            <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </li>
        <li class="socials-item">
          <a class="socials-link link" href="https://www.facebook.com/"></a>
          <svg class="socials-icon" width="32" height="32">
            <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
      </ul>
      <address>
        <p class="footer-tel">
          Feel free to contact
          <span class="footer-tel-span">+61 (0) 383 766 284</span>
        </p>
      </address>
    </div>
  </div>
  <div>
    <p class="copyright">&copy 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
