<header class="page-header">
  <div class="container">
    <div class="page-header-inner">
      <nav class="navigation">
        <a class="logo link" href="#" width="199" height="50">
          <img src="./images/icons/logo.png" alt="Icecream" />
        </a>

        <ul class="navigation-list list">
          <li class="navigation-item">
            <a class="navigation-link link current" href="#">Home</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link link" href="#review">About us</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link link" href="#manufacture"
              >How it's made?</a
            >
          </li>
          <li class="navigation-item">
            <a class="navigation-link link" href="#products">Our products</a>
          </li>
          <li class="navigation-item">
            <a class="navigation-link link" href="#location">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="menu-open-btn" type="button" data-menu-button>
        <svg class="icon-burger" width="20" height="20">
          <use href="./images/icons/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>

      <button
        class="navigation-btn button-secondary"
        type="button"
        data-order-open
      >
        Buy now
        <svg class="navigation-btn-icon" width="16" height="8">
          <use
            href="./images/icons/symbol-defs.svg#icon-half-arrow-right"
          ></use>
        </svg>
      </button>
    </div>

    <!-- MODAL -->
    <div class="backdrop is-hidden" data-order-modal data-touch-close>
      <div class="modal">
        <button
          type="button"
          class="menu-close-btn order-close-btn"
          data-order-close
        >
          <svg class="icon-close" width="14" height="14">
            <use href="./images/icons/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>

        <form class="form-order">
          <div class="form-container">
            <div class="info-box">
              <h3 class="info-title">Billing Address</h3>
              <label class="label" for="name">Full name</label>
              <input
                class="input"
                type="text"
                id="name"
                name="name"
                placeholder="Jan Kowalski"
              />
              <label class="label" for="email">Email</label>
              <input
                class="input"
                type="email"
                id="email"
                name="email"
                placeholder="kowalski@example.com"
              />
              <label class="label" for="address">Address</label>
              <input
                class="input"
                type="text"
                id="address"
                name="address"
                placeholder="apt. 4, Pomorska street 9"
              />
              <label class="label" for="city">City</label>
              <input
                class="input"
                type="text"
                id="city"
                name="city"
                placeholder="Gdynia"
              />

              <div class="state-box">
                <div class="state-box-left">
                  <label class="label" for="state">State</label>
                  <input
                    class="input"
                    type="text"
                    id="state"
                    name="state"
                    placeholder="Poland"
                  />
                </div>
                <div class="state-box-right">
                  <label class="label" for="index">Index</label>
                  <input
                    class="input"
                    type="text"
                    id="index"
                    name="index"
                    placeholder="81-314"
                  />
                </div>
              </div>
            </div>

            <div class="payment-box">
              <h3 class="payment-title">Payment</h3>
              <label class="label" for="card">Accepted Cards</label>
              <div class="icon-container" id="card">
                <ul class="paycard-list list">
                  <li class="paycard-item">
                    <button class="visa-btn paycard-btn"></button>
                  </li>
                  <li class="paycard-item">
                    <button class="mastercard-btn paycard-btn"></button>
                  </li>
                  <li class="paycard-item">
                    <button class="mir-btn paycard-btn"></button>
                  </li>
                </ul>
              </div>
              <label class="label" for="cardName">Name on Card</label>
              <input
                class="input"
                type="text"
                id="cardName"
                name="cardName"
                placeholder="Jan Kowalski"
              />
              <label class="label" for="cardNumber">Credit card number</label>
              <input
                class="input"
                type="text"
                id="cardNumber"
                name="cardnumber"
                placeholder="1111-2222-3333-4444"
              />
              <label class="label" for="expMonth">Expire Month</label>
              <input
                class="input"
                type="text"
                id="expMonth"
                name="expMonth"
                placeholder="January"
              />
              <div class="card-box">
                <div class="expire">
                  <label class="label" for="expYear">Exp Year</label>
                  <input
                    class="input"
                    type="text"
                    id="expYear"
                    name="expYear"
                    placeholder="2022"
                  />
                </div>
                <div class="cvv">
                  <label class="label" for="cvv">CVV</label>
                  <input
                    class="input"
                    type="text"
                    id="cvv"
                    name="cvv"
                    placeholder="012"
                  />
                </div>
              </div>
            </div>
          </div>
          <button class="form-order-btn" type="submit">Order</button>
        </form>
        <!-- MODAL FORM END -->
      </div>
    </div>
    <!-- MODAL END -->

    <div class="mobile-menu mobile-container" data-menu>
      <button type="button" class="menu-close-btn" data-menu-close>
        <svg class="icon-close" width="14" height="14">
          <use href="./images/icons/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>

      <button class="mobile-btn" type="button" data-order-open-mobile>
        Buy now
        <svg class="mobile-btn-icon" width="16" height="8">
          <use
            href="./images/icons/symbol-defs.svg#icon-half-arrow-right"
          ></use>
        </svg>
      </button>

      <ul class="mobile-list list">
        <li class="mobile-item">
          <a class="mobile-link link current" href="#">Home</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link link" href="#review">About us</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link link" href="#manufacture">How it's made?</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link link" href="#products">Our products</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link link" href="#location">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
