<section class="hero">
  <div class="container">
    <div class="hero-inner">
      <div class="hero-title-box">
        <h1 class="hero-title">Ice cream made with <span>passion</span></h1>
        <ul class="hero-btn-list list">
          <li class="hero-btn-item">
            <a class="hero-btn-products link" href="#products">Products</a>
          </li>
          <li class="hero-btn-item">
            <a class="hero-btn-made link" href="#manufacture">How it's made?</a>
          </li>
        </ul>
      </div>

      <div class="hero-counter-box">
        <ul class="hero-counter-list list">
          <li class="hero-counter-item">
            <p class="quantity">16</p>
            <p class="quantity-description">cafes</p>
          </li>
          <li class="hero-counter-item">
            <p class="quantity">23</p>
            <p class="quantity-description">food trucks</p>
          </li>
        </ul>
      </div>

      <div class="hero-text-box">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          class="hero-next-btn"
          type="button"
          aria-label="Expend"
        ></button>
      </div>
    </div>
  </div>
</section>
