.form-container,
.state-box,
.card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  @include for-size(mobile-only) {
    flex-direction: column-reverse;
  }
}

.info-box,
.payment-box,
.state-box-left,
.state-box-right,
.expire,
.cvv {
  flex: 50%;
  padding: 0 16px;
}

.info-title,
.payment-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.275;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid $secondaryTextColor;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
}

.icon-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.paycard-list {
  display: flex;
}

.paycard-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.paycard-btn {
  display: flex;
  align-self: flex-start;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 32px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.visa-btn {
  background-image: url(../images/card-icons/visa.svg);
}

.mastercard-btn {
  background-image: url(../images/card-icons/mastercard.svg);
}

.mir-btn {
  background-image: url(../images/card-icons/mir.svg);
}

.form-order-btn {
  margin-left: auto;
  margin-right: auto;
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;
  padding: 12px;
  border: 1px solid $secondaryTextColor;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.form-order-btn:hover {
  background-color: $BtnSecBgHover;
}
