.backdrop-modal-map {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: 500ms;
}
.map-window {
  padding: 5px;
  width: 100%;
  height: 100%;

  background-color: $primaryWhiteColor;
  border-radius: 5px;
  box-shadow: 7px 8px 25px 1px rgba(255, 0, 0, 0.44);

  .button-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 0;

    border-radius: 50px;

    background-color: $titleTextColor;
    border-color: $subtitleTextColor;

    @include for-size(tablet) {
      top: 10px;
      right: 10px;
    }

    .svg-close {
      width: 20px;
      height: 20px;

      cursor: pointer;
    }
  }
}
.substrate {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 35px;
  width: 100vw;
  height: 100vh;

  background-color: $secondaryBgColor;

  transition: 300ms;
  transform: translate(-50%, -50%);
  transform-origin: bottom;

  @include for-size(tablet) {
    padding: 35px;
    width: 78vw;
    height: 70vh;
  }
  @include for-size(desktop) {
    width: 75vw;
    height: 70vh;
  }
}

.backdrop-modal-map.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .substrate {
  transform: translate(-50%, -50%);
  @include for-size(tablet) {
    transform: rotatex(-65deg) perspective(300px) translate(-50%, -50%);
  }
}
