.footer {
  background-color: $secondaryBgColor;
  padding-left: 20px;
  padding-right: 20px;

  @include for-size(tablet) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @include for-size(desktop) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.footer-posishon {
  justify-content: space-between;

  @include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    display: flex;
  }
}
.subtitle {
  margin-bottom: 17px;

  @include for-size(tablet) {
    margin-bottom: 16px;
  }
  @include for-size(desktop) {
    margin-bottom: 15px;
  }
}
.footer-socials-list {
  display: flex;
  flex-direction: reverse;

  margin-bottom: 46px;
}

.footer-list {
  list-style: none;
  display: inline-flex;
}
.socials-link {
  text-decoration: none;
}

.footer-socials {
  border-bottom: 1px solid #e1e1e1;
}
.footer-text {
  display: block;
}

.socials-item {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 28px;
}
.socials-icon {
  position: absolute;
  fill: $primaryWhiteColor;
  width: 32px;
  height: 32px;
  background-color: $subtitleTextColor;
  border-radius: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer-tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
  padding-bottom: 43px;
}
.footer-tel-span {
  color: #d41443;
}

.copyright {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: $secondaryTextColor;
  padding-top: 22px;
  padding-bottom: 25px;

  @include for-size(tablet) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @include for-size(desktop) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
