// ==========  小笑携 GALLERY ==========

.gallery-section {
  background-image: linear-gradient($secondaryBgColor, $secondaryBgColor);
  background-size: 100% 39.75%;
  background-repeat: no-repeat;
}

.gallery-img {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    width: 100%;
  }
}

// .section-separate {
//   position: absolute;
//   left: 0;
//   top: 0;
//   transform: translateY(-39.75%);

//   height: 122px;
//   width: 100%;

//   background-image: url('../images/review/home-pic5-mobile.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: url('../images/review/home-pic5-mobile@2x.jpg');
//   }

//   @media screen and (min-width: 730px) {
//     height: 264px;

//     background-image: url('../images/review/home-pic5-tablet.jpg');
//   }

//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 730px),
//     screen and (min-resolution: 192dpi) and (min-width: 730px),
//     screen and (min-resolution: 2dppx) and (min-width: 730px) {
//     background-image: url('../images/review/home-pic5-tablet@2x.jpg');
//   }

//   @media screen and (min-width: 1080px) {
//     height: 430px;

//     background-image: url('../images/review/home-pic5-desktop.jpg');
//   }

//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 1080px),
//     screen and (min-resolution: 192dpi) and (min-width: 1080px),
//     screen and (min-resolution: 2dppx) and (min-width: 1080px) {
//     background-image: url('../images/review/home-pic5-desktop@2x.jpg');
//   }
// }

// ==========  小笑携 REVIEW ==========

.review-section {
  padding-top: 80px;
  padding-bottom: 170px;

  @include for-size(tablet) {
    padding-top: 122px;
    padding-bottom: 197px;
  }

  @include for-size(desktop) {
    padding-bottom: 234px;
  }
}

// ----------  小 ----------

.review-slider {
  position: relative;

  margin: 0 auto;

  @include for-size(tablet) {
    width: 620px;
  }

  @include for-size(desktop) {
    width: 926px;
  }

  .slick-arrow {
    position: absolute;
    z-index: 10;
    top: 28px;
    left: 50%;

    width: 30px;
    height: 30px;

    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 250ms linear;

    font-size: 0;

    &.slick-prev {
      transform: translateX(-120px) rotate(90deg);

      background-image: url('../images/icons/arrowsquare.svg');
    }

    &.slick-next {
      transform: translateX(calc(120px - 100%)) rotate(-90deg);

      background-image: url('../images/icons/arrowsquare.svg');
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .slick-list {
    overflow: hidden;
  }

  // .slick-track {
  //   display: flex;
  // }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
    padding: 0;

    list-style: none;

    font-size: 0;

    @include for-size(tablet) {
      margin-top: 35px;
    }

    > li {
      width: 12px;
      height: 12px;

      &:not(:last-child) {
        margin-right: 18px;
      }
    }

    button {
      padding: 0;
      width: 100%;
      height: 100%;

      border: 0;
      border-radius: 50%;
      background-color: #d9d9d9;
      outline: none;
      cursor: pointer;
    }

    > li.slick-active > button {
      border-radius: 0;
      background-color: transparent;
      background-image: url('../images/icons/home.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    > li:not(.slick-active) > button:hover {
      background-color: rgb(199, 19, 62, 0.2);
    }
  }
}

// ----------  校孝 协孝蝎 ----------

.review-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;

  outline: none;
}

.review-slide-foto {
  margin-bottom: 29px;

  @include for-size(tablet) {
    margin-bottom: 19px;
  }

  @include for-size(desktop) {
    margin-bottom: 15px;
  }
}

.review-slide-bg {
  padding: 43px 50px 26px;
  margin-bottom: 30px;

  background-color: #fafafa;

  @include for-size(tablet) {
    padding: 47px 60px 34px;
    margin-bottom: 24px;
  }

  @include for-size(desktop) {
    padding: 47px 58px 39px;
    margin-bottom: 15px;
  }
}

.review-slide-comment {
  position: relative;
  z-index: 0;

  padding: 0 7px;

  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: $primaryTextColor;

  background-image: repeating-linear-gradient(
    0deg,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 30px
  );
  background-position-y: -1px;
  background-repeat: no-repeat;

  @include for-size(tablet) {
    padding: 0 20px;

    font-size: 14px;
  }

  @include for-size(desktop) {
    padding: 0 30px;

    font-size: 16px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    left: 11px;
    top: -15px;

    content: '';
    display: block;
    width: 54px;
    height: 40px;

    background-image: url('../images/icons/brackets.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include for-size(tablet) {
      left: -23px;
      top: -17px;
    }

    @include for-size(desktop) {
      left: -7px;
      top: -15px;
    }
  }
}

.review-slide-dot {
  position: relative;

  width: 4px;
  height: 4px;
  margin-bottom: 18px;

  border-radius: 50%;
  background-color: #c7133e;

  @include for-size(tablet) {
    margin-bottom: 14px;
  }

  &::before {
    position: absolute;
    transform: translateX(calc(-100% - 10px));

    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: #c7133e;
  }

  &::after {
    position: absolute;
    transform: translateX(calc(100% + 10px));

    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: #c7133e;
  }
}

.review-slide-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: $primaryTextColor;

  @include for-size(tablet) {
    font-size: 16px;
  }

  @include for-size(desktop) {
    font-size: 20px;
  }
}
